<!DOCTYPE html>
<head>
        <link href="./style.css" rel="stylesheet" type="text/css">
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

</head>
            
<body>    

        <div id='header'> <!--NAV BAR -->
                <div class="content">
                    <div class="bar"></div>
                    <ul><b>	
                    <li><a href="/"><i class="fas fa-home"></i>   Home</a></li>
                    <li><a href="/new"><i class="far fa-hand-rock"></i>  Join our Forces</a></li>
                    <li><a href="/signatures"><i class="fas fa-pen"></i>  Signatures</a></li>
                    <li><a href="/search"><i class="fa fa-search"></i> Search </a></li>
                </ul>
            </div>	
        </div>
    </div> <!-- NAV BAR ENDS -->
    </body>    
        

