<!DOCTYPE html>
<head>
        <link href="./style.css" rel="stylesheet" type="text/css">
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body> 
    <% include ./navbar %>
<h1>Sign the Petition</h1>
<h3>Sign the petition on building a bicycle lane in the<br>
    tunnel between A-dam Centraal & A-dam Noord</h3>
            <div class="adduser">
                    <div class="container-3">
<form action="/signatures" method="post">
    <input type="text" id=details name="addFirstname" placeholder="Your Name.."><br>
    <input type="text" id=details name="addLastname" placeholder="Your Last Name.."><br>
    <input type="text" id=details name="addEmail" placeholder="Your Email.."><br>
    <br><input type="submit" class="btn" value="Sign Petition" >
</div>
</div>
</form>
</body>