<!DOCTYPE html>
<head>
    <script type="text/javascript"></script>
</head>
<body>

<h1> Add New User</h1>
<h2>Fill in 'new user' details below:</h2>
<form action="/pagethree" method="post">
<input type="text" name="firstname" placeholder="Your Name.."><br>
<input type="text" name="lastname" placeholder="Your Last Name.."><br>
<input type="text" name="email" placeholder="Your Email.."><br>
<input type="submit" value="Add" >
</form>
</body>
