<!DOCTYPE html>
<head>
        <link href="./style.css" rel="stylesheet" type="text/css">
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        
</head>
<body> 
<% include ./navbar %>
        <h4>Check if your friend already signed the petition 
                <br>by searching the name</h4> <h1><i class="far fa-hand-point-down"></i></h1>
                            
        <form action="/searchresult" method="post">
                <div class="box">
                        <div class="container-1">
                                <span class="icon"><i class="fa fa-search"></i></span>
 <%# name here is important for making the server and client side communicate%>
<input type="search" name="firstname" id="search" placeholder="Search.." autocomplete="off">
<div id="result"></div>
</form> 
</div>
</div>
<br>
<div id=sharing> <br>Share this <a href= http://awesomepetition.com id=petition>Awesome Petition </a> to spread the word!!
<br>
<br>
        <br><a href= http://www.facebook.com id="share"> Facebook <i class="fab fa-facebook"></i></a>
<br>
<br>
<a href= http://www.twitter.com id="share">  Twitter <i class="fab fa-twitter-square"></i></a>
<br>
<br>Together we are strong! <i class="far fa-handshake"></i> 
</p></div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->
<script>
$(document).ready(function() {
               $('#search').keyup(function() { 
                       //keyup - runs function everytime you enter a key
                var div = $('#result');
                if ($("#search").val().length > 0) {
                        div.show();
                        } else {
                        div.hide();
                        }
        let start = 0
               $.post( "/search", {
                        search: $('#search').val()
                        // shows the value what is put into the search bar
                },   
                function(data) {   
                // if (err) {
                //         alert('Your friend didnt sign :( Share petition by scrolling down!')
                // }
                // else {
                        $('#result').empty(); 
 
                        if(Date.now() - start >= 300) { 
                        for( i = 0; i < data.length; i++) {
                        // console.log(data.search[i].firstname)
                                $( "#result" ).append(`<ul>${(data[i].firstname) + ' ' + (data[i].lastname)}</ul>`) 
                                console.log(data[i].firstname + ' ' + data[i].lastname) 
                        }
                        start = Date.now()
                console.log('test')
                        }
        })
})     
});
                // $.post('/searchresult',
                //         $('#result').click(function() {
                // // var div = $('#result');
                // window.location.href = '/searchresult';
                //         return false;
                //         }))
    </script>      
</body>
