body {
    max-width:100%;
	height: auto;
    background-color: #343d46;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}
#header {
    font-size: 60px;
    max-width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 40px;
    align-content: fixed;
    color: white;
    background-color: #93939418;
  }
  
ul {
	list-style-type: none;
    overflow: hidden;
    
}
li a {
	float: left;
	margin-top: 0px;
	margin-left: 100px;
	padding: 10px 10px;
	text-decoration: none;
	font-size: 30px;
	color:white;
	border-radius: 10%;
}

li a:hover {
	background-color: #343d4652;
	color: black;
}

.sign{
    margin: 100px auto;
    width: 300px;
    height: 50px;
  }
.container-2{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative; /* most important, for the icon to stay and move away from its position */
  }

  .container-2 a {
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
    width: 300px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 30pt;
    color: #63717f;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 10px;
    padding-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
  }

 .container-2 .pencil{
    position: absolute;
    top: 50%;
    margin-left: 270px;
    margin-top: -17px;
    z-index: 1;
    color: #4f5b66;
  }
  .container-2 :hover, .container-2:focus, .container-2:active{
    outline:none;
    background: #4f5b6650;
  }

.box{
    margin: 100px auto;
    width: 300px;
    height: 50px;
  }
.container-1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative; /* most important, for the icon to stay and move away from its position */
  }

  .container-1 input#search{
    width: 300px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
  }

.container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
 }
  
 .container-1 input#search:-moz-placeholder { 
    color: #65737e;  
 }
  
 .container-1 input#search::-moz-placeholder {  
    color: #65737e;  
 }
  
 .container-1 input#search:-ms-input-placeholder {  
    color: #65737e;  
 }

 .container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 270px;
<<<<<<< HEAD
    margin-top: -15px;
=======
    margin-top: -8px;
>>>>>>> b231523ec93fd150ffdd01bc2d08132ba54fa079
    z-index: 1;
    color: #4f5b66;
  }

  .container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
  }
.adduser{
    margin: 100px auto;
    width: 300px;
    height: 50px;
  }
.container-3{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative; /* most important, for the icon to stay and move away from its position */
  }

  .container-3 input#details{
    width: 300px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
  }

.container-3 input#details::-webkit-input-placeholder {
    color: #65737e;
 }
  
 .container-3 input#details:-moz-placeholder { 
    color: #65737e;  
 }
  
 .container-3 input#details::-moz-placeholder {  
    color: #65737e;  
 }
  
 .container-3 input#details:-ms-input-placeholder {  
    color: #65737e;  
 }

  .container-3 input#details:hover, .container-3 input#details:focus, .container-3 input#details:active{
    outline:none;
    background: #ffffff;
  }
.btn {
    color: #65737e; 
    background: transparent; 
    border: 2px solid #65737e;
    border: none;
    color: white;
    padding: 16px 32px;
    border-radius: 6px; 
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
.btn {
    background-color: white; 
    color: black; 
    border: 2px solid #65737e;
}
.btn:hover {
    background-color: #65737e;
    color: white;
}
.btn1 {
    color: #65737e; 
    background: transparent; 
    border: 2px solid #65737e;
    border: none;
    color: white;
    padding: 16px 32px;
    border-radius: 6px; 
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
.btn1 {
    background-color: white; 
    color: black; 
    border: 2px solid #65737e;
}
.btn1:hover {
    background-color: #65737e;
    color: white;
}
#sharing  {
color: #ffffff;
font-size: 19px;
}
.share {
	list-style-type: none;
    overflow: hidden;
    text-decoration: none;
}

a {
	margin-top: 0px;
	text-decoration: none;
	font-size: 19px;
	color:white;
  border-radius: 10%;
}
#petition a {
  text-decoration: none;
}
.tenor-gif-embed{
  align-content: center;
  margin-left: 400px;
}